.item-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-slider__title {
  margin: 0;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.25px;
  font-weight: 600;
  color: rgba(44, 46, 63, 1);
  position: relative;
  margin-bottom: 51px;

  &::before {
    content: '';
    position: absolute;
    bottom: -21px;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $basic-orange;
  }
}

.item-slider__description {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.47px;
  color: rgba(44, 46, 63, 0.7);
  max-width: 370px;
  margin-bottom: 50px;
}

.item-slider__button {
  border: none;
  font-weight: 700;
  font-style: normal;
  width: 250px;
  padding: 30px 40px;
}

.item-slider__wrapper {
  margin-right: 100px;
}

.item-slider__img {
  position: absolute;
  top: -7px;
  left: 471px;
  z-index: 0;
}
