.page-header {
  // .page-header__anchor
  &__anchor {
    @media (max-width: $tablet-width) {
      padding-top: 8px;
      padding-left: 20px;
    }
    @media (max-width: $mobile-width) {
      padding-top: 10px;
      padding-left: 15px;
    }
  }
  // .page-header__logo
  &__logo {
    @media (max-width: $tablet-width) {
      width: 44px;
      height: 17px;
    }
  }
}

.page-header__wrapper {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}
