$basic-white: #ffffff;
$basic-red: #fe7865;
$basic-orange: #f17d4b;
$basic-black: #141517;
$basic-violet: #2c2e3f;

$font-primary: "Montserrat", "Arial", sans-serif;
$font-secondary: "ProximaNova", "Arial", sans-serif;

// Viewports

// mobile 320-767
$mobile-width: 767px;
// tablet 768-1023
$tablet-width: 1023px;

$desktop-width: 1024px;
